[submodule "src/Orchard.Web/ThirdParty/Modules/Downplay.Orchard.LayoutSelector"]
	path = src/Orchard.Web/ThirdParty/Modules/Downplay.Orchard.LayoutSelector
	url = https://github.com/xkproject/Downplay.Orchard.LayoutSelector.git
